{% extends "AppMovies/index.html" %}


{% load static %}

{% block titulo %}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Buscar Pelicula</title>
{% endblock %}

{% block cambia2 %}
<h1> Buscar Pelicula</h1>
<br>

    <form action="{% url 'buscar' %}" method="GET">
        
        <input type="text" name="nombre" id="nombre">

        <input type="submit", value="Buscar">

    </form>

{{ mensaje }}
{% endblock %}