{% extends "AppMovies/index.html" %}


{% load static %}


{% block titulo %}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Editar perfil</title>
{% endblock %}

{% block cambia %}
<h1>Editando perfil de {{ usuario }}</h1>
<h3> {{ mensaje }} </h3>

<form action="{% url 'editarusuario' %}" method="POST"> {% csrf_token %}
    <style>
        .helptext{visibility: hidden;}
    </style>
    <table>
        {{ formulario.as_table }}
    </table>
    <input type="submit" value="guardar">
</form>
<br>
<a href="{% url 'agregaravatar' %}" class="btn btn-dark" type="button" >Definir Avatar</a> 
<br>
{% endblock %}
