{% extends "AppMovies/index.html" %}


{% load static %}


{% block titulo %}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Agregar Pelicula</title>
{% endblock %}

{% block cambia2 %}

    <h1>Formulario - Agregar Pelicula</h1>
    
    {% if Formulario1.errors %}
    <p style="color: red;"> Están mal los datos, revisar</p>
    {% endif %}

    <form action="" method="POST">{% csrf_token %}
        <table>
            {{ Formulario1.as_table }}
        </table>
        <input type="submit", value="Enviar">
    </form>

{% endblock %}