{% extends "AppMovies/index.html" %}


{% load static %}


{% block titulo %}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Ingresar</title>
{% endblock %}


{% block cambia2 %}

<h1>Ingresar</h1>

<form action="{% url 'login' %}" method="POST">{% csrf_token %}
    <table>
        {{ Formulario1.as_table }}
    </table>
    <input type="submit", value="Iniciar Sesion">
    <br>
    <br>
    <h5>Si no estas registrado...</h5>
    
    <a class="navbar-brand" href="{% url 'register' %}">Registrate aca!</a>
</form>

<h1>{{ mensaje }}</h1>

{% endblock %}