{% extends "AppMovies/index.html" %}


{% load static %}


{% block titulo %}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Todas las Peliculas</title>
{% endblock %}

{% block cambia2 %}

<h1> Todas las Peliculas</h1>

{% if todas %}

<ul> 
    {% for pelicula in todas %}
        <li>{{pelicula.nombre}}</li>
        <li>{{pelicula.director}}</li>
        <li>{{pelicula.año}}</li>
        <li>{{pelicula.genero}}</li>
        <a href="{% url 'editarPeli' pelicula.id %}" class="btn btn-primary" type="button" >Editar</a>
        <!--<li class="nav-item" color="#f44336"><a class="nav-link active" aria-current="page" href="{% url 'eliminarPeli' pelicula.id %}">Eliminar</a></li> -->
        <a href="{% url 'eliminarPeli' pelicula.id %}" class="btn btn-danger" type="button" >Eliminar</a> 
        <br>
    {% endfor %}
</ul>

{% else %}
<p>No hay peliculas aún</p>

{% endif %}

{% endblock %}

